body
{
    background-color: rgb(237,241,245);
    margin: 0px;
}

#main-header
{
    background-color: rgb(43,45,66);
    height: 250px;
}

#logo
{
    width: 65px;
    height: auto;
}

#other-selection
{
    width: fit-content;
    height: fit-content;
    display: grid;
    column-gap: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-bar
{
    height: 40%;
    color: aliceblue;
    display: grid;
    padding-top: 35px;
    margin-left: 20%;
    margin-right: 20%;
    grid-template-columns: 0.5fr 1fr 1fr;
    column-gap: 10%;
}

#seasons-selection
{
    width: fit-content;
    height: fit-content;
    display: grid;
    column-gap: 5%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.link-wrapper
{
    text-align: center;
}

a.season-link
{
    text-decoration: none;
    color: aliceblue;
    font-size: 30px;
}   

.link-subtext
{
    font-weight: normal;
    font-size: 15px;
    margin-top: 0;
}

a.other-link
{
    text-decoration: none;
    color: aliceblue;
    font-size: 50px;
}

.img-icon
{
    width: 65px;
    height: auto;
}

.card
{
    width: fit-content;
    height: fit-content;
    display: grid;
    background-color: rgb(31,35,45);
    grid-template-columns: max-content max-content ;
}

.card-left
{
    background-color: black;
    height: 300px;
    width: fit-content;
    position: relative;
}

.card-banner
{
    height: 100%;
    width: auto;
    display: block;
}

.img-banner
{
    height: 100%;
    width: auto;
}

.card-title
{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 90%;
    padding: 5%;
    top: 68%;
    left: 0%;
}

.card-title-text
{
    color: aliceblue;
    font-size: 20px;
}

.card-title-studio
{
    color: orange;
    font-size: 15px;
}

.card-right
{
    height: 300px;
    width: 350px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card:hover .info-wrap
{
    transform: translateX(-345px);
}

.info-wrap
{
    display: grid;
    grid-template-columns: 100% 100%;
    column-gap: 10px;
    transition: transform 0.5s ease-in-out;
}

.air-and-rate
{
    color: white;
    font-size: large;
}

.broadcast-trailer
{
    font-size: large;
    color: white;
}
